body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.user-info strong {
    margin-left: 10px;
}

header {
    background-color: #EBD7BF;
    color: #000000;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

main {
    padding: 20px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border-bottom: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

button {
    padding: 8px 16px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #777;
}

.subtotal {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    font-size: 18px;
}

.checkout {
    text-align: right;
    margin-top: 20px;
}
.user-info {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.user-info strong {
    margin-right: 10px;
}

.btn-sair {
    background-color: #dc3545;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    margin-right: 10px;
    cursor: pointer;
}

.btn-sair:hover {
    background-color: #c82333;
}

.btn-home {
    background-color: #777;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    text-decoration: none;
    cursor: pointer;
}

.btn-home:hover {
    background-color: #555;
}
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #EBD7BF;
    color: #060606;
    padding: 20px;
    text-align: center;
}