body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FAF5EF;
}

.header-container {
    background-color: #EBD7BF;
    color: #fff;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #555;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 3px;
    margin-right: 10px;
}

.search-form button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #777;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-button {
    padding: 5px 10px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #777;
}

.square-container {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espaçamento do topo */
}

.square {
    width: 100px; /* Largura do quadrado */
    height: 100px; /* Altura do quadrado */
    background-color: #555; /* Cor de fundo do quadrado */
    margin: 0 10px; /* Espaçamento horizontal entre os quadrados */
    border-radius: 10px; /* Arredondamento das bordas */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Adicione a animação de pulsação quando o cursor passa por cima */
.square:hover {
    animation: pulse 0.10s infinite alternate;
    background-color: #EBD7BF;
}

/**PARTE DAS DIV'S DE PRODUTOS E DESCRISÃO SOBRE OS PRODUTOS**/

.title{
    margin-top: 50px;
    margin-left: 60px;
}

.products-conteiner{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right:20px ;
}

.product {
    width: 30%; /* Largura de cada div de produto */
    display: flex;
    flex-direction: column;
    align-items: center;
}
.product img {
    max-width: 200px; /* Garante que a imagem ocupe toda a largura da div */
    height: auto;
    max-height: 200px;
}
.product-info{
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: none;
    font-size: 14px;
}