body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FAF5EF;
}

.header-container {
    background-color: #EBD7BF;
    color: #fff;
    padding: 25px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #555;
}

.search-container {
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
}

.search-form {
    display: flex;
    align-items: center;
}

.search-form input[type="text"] {
    padding: 10px 35px;
    border: none;
    border-radius: 20px;
    margin-right: 10px;
}

.search-form button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.search-form button:hover {
    background-color: #777;
}

.login-container {
    display: flex;
    align-items: center;
}

.login-button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.login-button:hover {
    background-color: #777;
}
.cart-button {
    padding: 10px 20px;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 10px; /* Adiciona um espaço entre o botão "Carrinho" e o botão "Login" */
}

.cart-button:hover {
    background-color: #777;
}

.square-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.square {
    width: 100px;
    height: 100px;
    background-color: #555;
    margin: 0 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.square:hover {
    animation: pulse 0.10s infinite alternate;
    background-color: #EBD7BF;
}

.title {
    margin-top: 50px;
    margin-left: 60px;
}

.products-wrapper {
    display: flex;
    justify-content: space-between; 
    margin-top: 20px; 
    flex-wrap: wrap; 
}

.products-container {
    width: 30%;
    border: 2px solid #555;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    margin-bottom: 20px; 
    
}


.products-container:first-child {
    margin-right: 10px; 
    margin-left: 50px; 
}


.products-container:last-child {
    margin-left: 10px;
    margin-right: 50px; 
}

.product{
    text-align: center;
    margin-bottom: 20px;
}



.product img {
    width: 50%;
    height: auto;
    max-height: 200px;
    align-items: center;

}

.product-info {
    padding: 10px;
    background-color: #f9f9f9;
    font-size: 14px;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-buy,
.btn-add-cart {
    width: 80%;
    padding: 10px;
    margin: 5px 0;
    background-color: #555;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-add-cart {
    background-color: #007bff;
}

.btn-buy:hover,
.btn-add-cart:hover {
    background-color: #777;
}

/* Adicione a animação de pulsação */
@keyframes pulse {
    50% {
        transform: scale(1.1);
    }
}